<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <br>
      <br>
      <!-- ----------------------------------------------------------->
      <ul class="sidebar-menu" data-widget="tree">
        <!-- ----------------------------------------------------------->
        <li class="active treeview menu-open">
          <a routerLink="/dashboard">
            <i class="fa  fa-dashboard"></i><span>Dashboard</span>   
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
        <!-- ----------------------------------------------------------->
        <hr>
        <!-- ----------------------------------------------------------->
        <li class="active treeview menu-open">
          <a routerLink="/list-student1">
            <i class="fa fa-user"></i> <span>จัดการข้อมูลนักเรียน ป.1</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>

        <!-- ----------------------------------------------------------->
        <li class="active treeview menu-open">
          <a routerLink="/list-student2">
            <i class="fa fa-user"></i> <span>จัดการข้อมูลนักเรียน ป.2</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
        <!-- ---------------------------------------------------------->
        <!-- ----------------------------------------------------------->
        <li class="active treeview menu-open">
          <a routerLink="/list-student3">
            <i class="fa fa-user"></i> <span>จัดการข้อมูลนักเรียน ป.3</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
        <!-- ---------------------------------------------------------->
        <!-- ----------------------------------------------------------->
        <li class="active treeview menu-open">
          <a routerLink="/list-student4">
            <i class="fa fa-user"></i> <span>จัดการข้อมูลนักเรียน ป.4</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
        <!-- ---------------------------------------------------------->
        <!-- ----------------------------------------------------------->
        <li class="active treeview menu-open">
          <a routerLink="/list-student5">
            <i class="fa fa-user"></i> <span>จัดการข้อมูลนักเรียน ป.5</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
        <!-- ---------------------------------------------------------->
        <!-- ----------------------------------------------------------->
        <li class="active treeview menu-open">
          <a routerLink="/list-student6">
            <i class="fa fa-user"></i> <span>จัดการข้อมูลนักเรียน ป.6</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
        <!-- ---------------------------------------------------------->
        <hr>
        <!-- ----------------------------------------------------------->
        <li class="active treeview menu-open">
          <a routerLink="/view-list-deposits">
            <i class="fa  fa-dollar"></i> <span>ดูรายการฝาก</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>

        <li class="active treeview menu-open">
          <a routerLink="/view-list-withdraws">
            <i class="fa  fa-dollar"></i> <span>ดูรายการถอน</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
        <!-- ----------------------------------------------------------->
        <hr>
        <!-- ----------------------------------------------------------->
        <li class="active treeview menu-open">
          <a routerLink="/list-deposit-withdraw1">
            <i class="fa  fa-dollar"></i> <span>ฝากเงิน - ถอนเงิน ป.1</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
        <!-- ----------------------------------------------------------->
        <li class="active treeview menu-open">
          <a routerLink="/list-deposit-withdraw2">
            <i class="fa  fa-dollar"></i> <span>ฝากเงิน - ถอนเงิน ป.2</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
        <!-- ----------------------------------------------------------->
        <li class="active treeview menu-open">
          <a routerLink="/list-deposit-withdraw3">
            <i class="fa  fa-dollar"></i> <span>ฝากเงิน - ถอนเงิน ป.3</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
        <!-- ----------------------------------------------------------->
        <li class="active treeview menu-open">
          <a routerLink="/list-deposit-withdraw4">
            <i class="fa  fa-dollar"></i> <span>ฝากเงิน - ถอนเงิน ป.4</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
        <!-- ----------------------------------------------------------->
        <li class="active treeview menu-open">
          <a routerLink="/list-deposit-withdraw5">
            <i class="fa  fa-dollar"></i> <span>ฝากเงิน - ถอนเงิน ป.5</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
        <!-- ----------------------------------------------------------->                                
        <li class="active treeview menu-open">
          <a routerLink="/list-deposit-withdraw6">
            <i class="fa  fa-dollar"></i> <span>ฝากเงิน - ถอนเงิน ป.6</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
        <!-- ----------------------------------------------------------->
        <hr>
               <!-- ----------------------------------------------------------->                                
        <li class="active treeview menu-open">
          <a routerLink="/list-teachers">
            <i class="fa  fa-dollar"></i> <span>จัดการข้อมูลครู</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
        </li>
        <!-- ----------------------------------------------------------->                                
        <li class="active treeview menu-open">
          <a routerLink="/list-money-sum">
            <i class="fa  fa-dollar"></i> <span>จัดการเงินรวม</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
        </li>
        <!-- ----------------------------------------------------------->
    </ul>
  
    </section>
    <!-- /.sidebar -->
  </aside>